<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Logueate con Github</h1>
      <button type="button" class='btn btn-default' name="button" id='login'>Login</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2>Estadisticas</h2>
      <input type="text" class='form-control' name="name" value="" id='github-user'>
      <button type="button" class='btn btn-default' name="button" id='show'>Mostrar</button>
    </div>

    <div class="col-xs-6">
      <h2>Resultados</h2>
      <div id="canvas-wrapper">

      </div>
    </div>
  </div>
</div>
