#canvas{
  height: 300px;
  width: 100%;
}
#github-login-wrapper{
  background-color: palegoldenrod;
  color : #4E4C32;
  padding: 30px;
}

#warning-api-limitations,#select-user-form,#user-github-stadistics{
  margin-top: 20px;
}

#github-login-wrapper h1,#select-user-form h3{
  padding:0 !important;
  margin:0 !important;

}
#github-login-wrapper h1 button{
  margin-left: 10px;
}


button.btn-own,button.btn-own:hover,button.btn-own:focus,button.btn-own:active{
  outline-width: 0px !important;
  background-color: white;
  color: #8a8553;
  font-weight: bold;

}
button.btn-own-inverse,button.btn-own-inverse:hover,button.btn-own-inverse:focus,button.btn-own-inverse:active{
  outline-width: 0px !important;
  background-color:#8a8553 ;
  color: white;
  font-weight: bold;

}
